BE/Searching.BE.WF.NotificationService/Service References/ApiService/WCFRESTService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Searching.BE.Service" elementFormDefault="qualified" targetNamespace="Searching.BE.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.100.101/Api/WCFRESTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SearchingLibrary" />
  <xs:import schemaLocation="http://192.168.100.101/Api/WCFRESTService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCityForCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityForCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetCityForCountryResult" nillable="true" type="q1:ArrayOfCities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetCountryListResult" nillable="true" type="q2:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q3:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncingFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="filter" nillable="true" type="q4:AnnFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncingFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetAnnouncingFilterResult" nillable="true" type="q5:ArrayOfAnnouncing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasOfCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="City_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasOfCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetAreasOfCityResult" nillable="true" type="q6:ArrayOfAreasOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoriteAnnuncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoriteAnnuncingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetFavoriteAnnuncingResult" nillable="true" type="q7:ArrayOfAnnouncing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedAnnouncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedAnnouncingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetSelectedAnnouncingResult" nillable="true" type="q8:ArrayOfAnnouncing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetForeignUserResult" nillable="true" type="q9:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetMyUserResult" nillable="true" type="q10:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="filter" nillable="true" type="q11:AnnFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestFunctionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="user" nillable="true" type="q12:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="RegistrationResult" nillable="true" type="q13:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="user" nillable="true" type="q14:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="AuthResult" nillable="true" type="q15:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="user" nillable="true" type="q16:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="EditProfileResult" nillable="true" type="q17:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnnouncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="ann" nillable="true" type="q18:Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnnouncingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="AddAnnouncingResult" nillable="true" type="q19:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnnouncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="ann" nillable="true" type="q20:Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnnouncingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnnouncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Announcing_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnnouncingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="ann" nillable="true" type="q21:Selected_Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="AddToSelectedResult" nillable="true" type="q22:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToFavorite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="ann" nillable="true" type="q23:Favorite_Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToFavoriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="AddToFavoriteResult" nillable="true" type="q24:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSelectedAnnouncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="ann" nillable="true" type="q25:Selected_Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSelectedAnnouncingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteAnnouncing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="ann" nillable="true" type="q26:Favorite_Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteAnnouncingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="user" nillable="true" type="q27:Selected_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectedUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSelectedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="user" nillable="true" type="q28:Selected_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSelectedUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowersList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="FollowersListResult" nillable="true" type="q29:ArrayOfUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncingFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="announcing_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncingFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetAnnouncingFullResult" nillable="true" type="q30:Announcing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="message" nillable="true" type="q31:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="AddMessageResult" nillable="true" type="q32:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="messageCallback" nillable="true" type="q33:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="CallCallBackResult" nillable="true" type="q34:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSubscribersResult" nillable="true" type="q35:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipient_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SearchingLibrary" minOccurs="0" name="GetMessagesResult" nillable="true" type="q36:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>